html, body{
  color: #fff;
  width: 100%;
	height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Noto Sans JP";

  // IE Edge
  -ms-overflow-style: none;
  // Firefox
  scrollbar-width: none;
  
   // Chrome Safari
  & ::-webkit-scrollbar{
    display: none;
  }
}

body:after{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  z-index: -1;
  background-size: 200% 200%;
  animation: gradient 13s ease infinite;
}
main{
  width: 100%;
  height: 100%;
}
#nojs{
  width: 100%;
  height: 100%;
  background: #fff;
  position: fixed;
  padding: 30px;
  padding-bottom: 70px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
}
footer {
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #000;
}
a {
  cursor: pointer;
  text-decoration: none!important;
  transition: transform .2s;
  &:active{
   transform: scale(.95);
  }
}
button{
  cursor: auto;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
img.emoji{
  height: 1em;
  width: 1em;
  margin: 0.05em 0.1em;
  vertical-align: -0.1em;
}

.link{
  width: 16px; 
  height: 16px;
  filter: contrast(0%);
}

.glass-filter{
  backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}
@supports not (backdrop-filter: blur(5px)) {
  .glass-filter{
    background-color: rgba(255, 255, 255, 0.4);
  }
}
@media all and (-ms-high-contrast: none) {
  *{
    font-size: initial;
  }
  .glass-filter{
    background-color: rgba(255, 255, 255, 0.5);
  }
}
.sub-txt {
  font-size: 80%;
  text-align: center;
}

hr{
  margin: 0;
}
#control{
  width: 90%;
  margin: 0 auto 0;
  color: #000;
  text-align: center;
}
.box{
  padding: 10px;
  p{
    margin-bottom: 10px;
  }
}
.range{
  width: 70%;
}

.field{
  display: flex;
  justify-content: center;
}
.button{
  background-color: #fff;
  font-size: 18px;
  width: 60px;
  text-align: center;

  &.up{
    color: #fff;
    background: #008803;
    border: solid 2px #008803;
  }
  &.down{
    color: #fff;
    background: #c9252f;
    border: solid 2px #c9252f;
  }
}
.inputText{
  padding: 10px 0px;
  width: 60px;
  border-left: 0;
  border-right: 0;
  border: 1px solid #000;
  text-align: center;
}